body {
	width: auto;
	background-color: black;
}

#messagesDiv {
	background-color: wheat;
	width: 80%;
	height: 500px;
	margin: auto;
	border: 1px solid black;
<<<<<<< HEAD
	margin-top: 10em;
=======
	margin-top: 100px;
>>>>>>> 1f0ca06beef36dc8ef04d6500f6131ee282655c2
}

#navbar {
	background-color: teal;
	/*opacity: .5;*/

	/*z-index: 0;*/
}

#logo{
	width: auto;
	
}

#messageInput {
	margin: 1%;
	
}

#clearButton {
	margin: 1%;
}

#themeCheck {
	 margin-left: 12em;


}

#largeTextCheck {
	margin-left: 12em;
}