#messagesDiv {
	background-color: wheat;
	width: 600px;
	height: 500px;
	margin: auto;
	border: 1px solid black;
	margin-top: 100px;
}

#navbar {
	background-color: green;
	z-index: 0;
	/*position: absolute;*/
}

.darkTheme {
	background-color: darkgrey !important;
	color: white;
}

.largeText {
	font-size: larger;
}

